<div class="o-drawer__overlay"></div>
<aside class="o-drawer">
  <div class="o-drawer__button--container">
    <button aria-label="Open mobile"
      class="o-drawer__close-button has-background has-transparent-background-color js-close">
      <span class="icon close-icon"></span>
    </button>
  </div>
  <div class="o-drawer__content">
    {% include 'partials/mobile-navigation.twig' %}
  </div>
</aside>
