    <div class="o-footer__subfooter">

        <div class="o-footer__subfooter--container alignwide">
            
            <div class="o-footer__subfooter--info">
            © {{ "now"|date("Y") }} LumberBones21
            </div>

            <div class="o-footer__subfooter--social">
                <a href="https://www.github.com">{% include 'partials/github.twig' %}</a>
            </div>
        
        </div>
    </div>