    <div class="o-footer__subfooter">

        <div class="o-footer__subfooter--container alignwide">

            <div class="o-footer__subfooter--info">
            © {{ "now"|date("Y") }} COLAB Starter
            </div>

            <div class="o-footer__subfooter--social">
                <a href="https://github.com/teamcolab/COLAB-Starter/">{% include 'partials/github.twig' %}</a>
            </div>

        </div>
    </div>
