/**
 * Hidden
 *
 * Hidden yet accessible.
 *
 * @link https://a11yproject.com/posts/how-to-hide-content/
 * @link https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/clip
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
 *
 * @usage
 * @extend %hide;
 * @include hide;
 *
 * @package Baseline
 * @subpackage Styles
 * @since 2.0.0
 */
%hide {

  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    clip-path: inset(0 0 0 0);
  }
}

@mixin hide {
  @extend %hide;
}
