
<div class="o-drawer__overlay">
<aside class="o-drawer">
    <a aria-label="Open mobile" class="o-drawer__close-button js-close">
        <span class="icon close-icon"></span>
    </a>
    <div class="o-drawer__content mobile-menu">
     {% include 'partials/global-navigation.twig' %}
    </div>

</aside>
</div>
