<footer>

    <div class="o-footer__inner alignwide">

        <div class="o-footer__section--nav">

            <div class="o-footer__nav--col">
                <img src="/wp-content/themes/lumberbones21/dist/images/logo-dark.png" width="75" height="75" alt="Lumberbones-logo">
            </div>

            <div class="o-footer__nav--col">
                {% include 'partials/footer-menu.twig' with {
                    'location': 'footer1' }
                %}
            </div>

           <div class="o-footer__nav--col">
                 {% include 'partials/footer-menu.twig' with {
                    'location': 'footer2' }
                %}
            </div> 

            <div class="o-footer__nav--col">
                 {% include 'partials/footer-menu.twig' with {
                    'location': 'footer3' }
                %}
            </div>
        </div>


    </div>
    {% include 'partials/subfooter.twig' %}
</footer>
