.o-drawer__overlay {
    @include cover;
    z-index: 10;
    background-color: var(--global--color-white-50);
    display: none;
    .show-menu & {
        display: block;
    }
}

.o-drawer {
    position: absolute;
    top: 0;
    left: -90vw;
    width: 90vw;
    z-index: 100;
    background-color: var(--branding--color-background);
    height: 100%;
    padding: 30px 60px 60px;
    transition: left .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
    .show-menu & {
        transition: left .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        left: 0;
    }
    .visible & {
        visibility: visible;
    }
}

.o-drawer__button--container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.o-drawer__close-button {
    overflow: visible;
    text-align: center;
    display:flex;
    span {
        width: 14px;
    }
}
